

.window-popup {
 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: hsla(236, 37%, 92%, 0.8);
    backdrop-filter: blur(6px);
    width: 100%;
    padding: 12px;
    overflow: scroll;

}
 /* window popup card */
 .window-popup .project-titles {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  }
  .window-popup .desktop-discrib {
    display: none;
    }
    .window-popup .popup-descriptions {
      display: flex;
    }
  
    .window-popup .live-btn {
    display: flex;
    gap: 10px;
  }
    
    @media only screen and (min-width: 769px) {
     
      .window-popup .snapshoot-placeholders {
        width: 100%;
     height: auto
      }
      .window-popup  .projects {
        display: flex;
        flex-direction: row;
      }
      
      .window-popup .projects p {
        width: 778px;
  height: 271px;
      }
      .window-popup .popup-descriptions {
      display: none;
    }
  
    .window-popup .desktop-discrib {
      display: flex;
      }
    }
  